.TabelaProdutos table {
    width: 100%;
}

.TabelaProdutos th {
    background-color: #334703;
    color: #fff;
}

.TabelaProdutos .Par {
    background-color: #ddd;
}

.TabelaProdutos .Impar {
    background-color: #b1afaf;
}

