.Card {
    background-color: red;
    border-radius: 10px;
    overflow: hidden;
    border: ;
}

.Card .Title {
    padding: 10ox 0px;
}

.Card .Content {
    background-color: #fff;
    color: #000;
}